aws_region = "ap-northeast-1"
project_name = "aws-learning-web"
environment = "commercial-learning"
name_suffix_tag = "_20260902"
name_suffix_physical = "-20260902"
vpc_cidr = "20.0.0.0/16"
domain_name = "filanza-aws.com"
hosted_zone_id = "Z10320622XUBBC9Y04KQI"
app_subdomain = "app"
create_route53_record = true
acm_certificate_arn = ""
alarm_email = "your-email@example.com"
rds_multi_az = false
rds_deletion_protection = false
github_owner = "your-github-user-or-org" # bootstrap側で使用
github_repo = "your-repository-name"     # bootstrap側で使用
github_branch = "main"                   # bootstrap側で使用
codestar_connection_arn = "arn:aws:codestar-connections:ap-northeast-1:xxxxxxxxxxxx:connection/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" # bootstrap側で使用
